@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');



    body {
    background: fixed;
    background-image: url(background.gif);
    background-position:no-repeat, no-repeat;
    
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size:  cover;
    background-position: center;
}

.page {
    background: fixed;
    background-image: url(plank.jpg);
    background-position:no-repeat;
    
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1000px 9960px;
    background-position: center;
}

.stone {
    background: fixed;
    background-image: url(plank.jpg);
    background-position:no-repeat;
    
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 1000px 9960px;
    background-position: center;
}

.headw {
    font-family: 'Fruktur', cursive;
    color: white;
}

.headb {
    font-family: 'Fruktur', cursive;
    color: black;
}

.headg {
    font-family: 'Fruktur', cursive;
    color: rgb(30, 255, 0);
}